# Env files
.env
*.env
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
*.egg-info/

# Node
node_modules/
dist/
.angular/
npm-debug.log
yarn-error.log

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# AWS
.aws/
aws-credentials.json
